//colors
$cl-dark-blue: hsl(243, 87%, 12%);
$cl-desaturated: hsl(238, 22%, 44%);
$cl-light-blue: hsl(224, 93%, 58%);
$cl-dark-cyan: hsl(170, 45%, 43%);
$cl-light-grayish-blue: hsl(240, 75%, 98%);
$cl-light-gray: hsl(0, 0%, 75%);

//font-family
$ff-raleway: "Raleway", sans-serif;
$ff-open-sans: "Open Sans", sans-serif;
$fw-400: 400;
$fw-700: 700;

//spacings/sizings
$spacing-10: 0.625rem;
$spacing-20: 1.25rem;
$spacing-30: 1.875rem;
$spacing-40: 2.5rem;
$spacing-50: 3.125rem;
$spacing-100: 6.25rem;
// $spacing-40: 2.5rem;
// $spacing-40: 2.5rem;
// $spacing-40: 2.5rem;

//breakpoints
$screenMd: 43.75rem;
$screenLg: 75rem;

//font-sizes
$heading-1: 1.58rem;
$heading-2: 1rem;
