<main class="hero-section container">
  <div class="hero-wrapper">
    <div class="hero-img">
      <img src="{{ hero.img }}" alt="{{ hero.imgAlt }}" />
    </div>

    <div class="hero-content">
      <h1>{{ hero.heading }}</h1>
      <p>{{ hero.paragraph }}</p>

      <div class="hero-form-control">
        <input
          class="input-class"
          type="email"
          placeholder="{{ hero.inputPlaceholder }}"
        />
        <button class="btn-primary">{{ hero.btnText }}</button>
      </div>
    </div>
  </div>
</main>
