<section>
  <div class="sub-section-wrapper">
    <img src="{{ testimonials.img }}" alt="{{ testimonials.imgAlt }}" />
    <h2>{{ testimonials.heading }}</h2>
    <p>{{ testimonials.paragraph }}</p>
    <a href="#"> {{ testimonials.btnText }} {{ testimonials.btnImg }}</a>
    <div class="tesimonial-card">
      <img src="{{ card.img }}" alt="{{ card.imgAlt }}" />
      <p>{{ card.paragraph }}</p>
      <div>
        <img src="{{ card.avatar }}" alt="{{ card.avatarAlt }}" />
        <div>
          <h3>{{ card.author }}</h3>
          <p>{{ card.authorTitle }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
